<div class="sidebar">
    <h2 class="text-white"><i class="bi bi-hospital"></i> {{ "Admin Panel"|trans }}</h2>
    <a href="{{ path('app_hospital_index') }}" class="menu-item text-white"><i
            class="bi bi-hospital"></i> {{ "Hospital"|trans }}</a>
    <a href="{{ path('app_department_index') }}" class="menu-item text-white">🏢 {{ "Department"|trans }}</a>
    <div class="menu-item text-white">👥 Сотрудники</div>
    <div class="menu-item text-white">⚙️ Настройки</div>
</div>
